name: Deploy to S3 + CloudFront

on:
  push:
    branches:
      - main   # or whatever branch you deploy from

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::253490770497:role/GitHubActionsS3DeployRole
          aws-region: us-west-1

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      - name: Build site
        run: npm run build

      - name: Upload to S3
        run: |
          aws s3 sync dist s3://catherinehagelis.com --delete

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E1QX77IDOVCN2O \
            --paths "/*"
